
process.container = 'file://./environment/CellularHeatmaps.sif'



singularity {
        enabled = true
        envWhitelist = 'CUDA_VISIBLE_DEVICES,PYTHONPATH'
    }

profiles {
    
    local {
        executor.queueSize = 1
        process.containerOptions = '-B /data:/data --nv'
        env.PYTHONPATH = "$HOME/Documents/projects/segmentation-he/src/python/nn:$PYTHONPATH"
    } // we had to add specific path to segmentation-he
    kuma {
        executor.queueSize = 6
        process.clusterOptions = '-B /data2:/data2 --nv'
        env.PYTHONPATH = "/data2/pnaylor/projects/:$PYTHONPATH"
    }
}